force-app/main/default/flows/Monocle_Chat_Transcript_Create_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Monocle - Chat Transcript Create Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monocle - Chat Transcript Create Feedback</label>
    <loops>
        <name>Question_Loop</name>
        <label>Question Loop</label>
        <locationX>176</locationX>
        <locationY>613</locationY>
        <collectionReference>Get_Feedback_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Question_Response</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feedback_Response</name>
        <label>Create Feedback Response</label>
        <locationX>176</locationX>
        <locationY>493</locationY>
        <assignRecordIdToReference>FeedbackResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Question_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ChatTranscript__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnableSentiment__c</field>
            <value>
                <elementReference>Get_Feedback_Template.EnableSentiment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback__c</field>
            <value>
                <elementReference>Get_Feedback_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedbackResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Question_Response</name>
        <label>Create Question Response</label>
        <locationX>264</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>Question_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Feedback_Question__c</field>
            <value>
                <elementReference>Question_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Response__c</field>
            <value>
                <elementReference>FeedbackResponseID</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback_Question_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Feedback_Questions</name>
        <label>Get Feedback Questions</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Feedback_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Feedback__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Feedback_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FeedbackQuestion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Feedback_Template</name>
        <label>Get Feedback Template</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Feedback_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Voice Call QA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Feedback_Template</targetReference>
        </connector>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FeedbackResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
